<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- enable component scanning  -->
    <context:component-scan base-package="org.nqcx.worker"/>

    <!-- Read the properties files -->
    <bean id="propertiesConfig" class="nqcx.worker.common.PropertiesConfig">
        <!-- 多个文件用逗号分隔 -->
        <property name="configFileNames" value="config.properties"/>
    </bean>
    <bean id="propertiesHolder" class="nqcx.worker.common.PropertiesHolder">
        <property name="propertiesConfig" ref="propertiesConfig"/>
    </bean>
    <bean
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="propertiesArray">
            <list>
                <bean factory-bean="propertiesHolder" factory-method="asProperties"/>
            </list>
        </property>
    </bean>

    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="useCodeAsDefaultMessage" value="false"/>
        <property name="basenames">
            <list>
                <value>gmsg.gmsg</value>
            </list>
        </property>
    </bean>

    <import resource="spring/bean-worker.xml"/>
</beans>